h1 {
    color: black;
    background-color: aquamarine;
    text-align: center;
    width: fit-content;
    box-shadow: 1px 1px 3px black;
}

p{
    background-color: rgb(223, 186, 238);
    color: rgb(82, 2, 2);
    margin-right: 20px;
    text-align: justify;
}

img{
    border: solid 15px;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    margin-left: 300px;
}

a {
    border: solid 2px orange;
    background-color: orange;
    font-size: 15pt;
    text-decoration: none;
    margin: 0px;
    padding: 5px;
    display: block;
    width: 100px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}